@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your nation</h2>
<h4 class="nation"></h4>
<div id="GameNation"></div>

<h2>World map</h2>
<h4 class="map"></h4>
<div id="GameMap"></div>

<div class="container">
    <div class="row">

        <div class="col-md-4">
            <img src="~/Images/iron.png" />
        </div>

        <div class="col-md-4">
            <button id="ButtonMinusWood">-</button>
            <button id="ButtonPlusWood">+</button>
            <p id="WoodWorkers">number</p>
            <img src="~/Images/wood.jpg" />
        </div>

        <div class="col-md-4">
            <img src="~/Images/uranium.jpg" />
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            <img src="~/Images/pig.JPG" />
        </div>

        <div class="col-md-4">
            <img src="~/Images/town.jpg" />
        </div>

        <div class="col-md-4">
            <img src="~/Images/aluminum.jpg" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="~/Images/cow.jpg" />
        </div>

        <div class="col-md-4">
            <img src="~/Images/chickens.jpg" />
        </div>

        <div class="col-md-4">
            <button id="ButtonMinusWeed">-</button>
            <button id="ButtonPlusWeed">+</button>
            <p id="WeeddWorkers">number</p>
            <img src="~/Images/wheat.jpg" />
        </div>
    </div>

</div>
