@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p class="ListNations">click here to see the list of nations</p>
<div id="ShowAllNations"></div>

<p class="ShowNation">Click here to create your nation.</p>
<div id="ShowNationForm"></div>
