@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register a new user</h2>
<hr />

<form action="Register" class="Register">
    <label for="Email">Email: </label>
    <input type="text" name="Email" />
    <label for="Password">Password: </label>
    <input type="Password" name="Password" />
    <button type="submit">Submit</button>
</form>
<div id="RegisterMessage">
</div>
<p class="ClickLogIn">Click here to login</p>
<div id="LogInForm"></div>